{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "transform": {
      "react": {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    }
  }
}